.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  display: flex;
  justify-content: center;
}
.child {
  text-align: center;
}
html {
  background-color: #dddddd;
}
button {
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  width: max(200px, 200px);
  background: #29a6ff;
  height: max(10px, 75px);
  transition: 0.5s;
}
button:hover
{
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.button_wrong
{
    cursor: not-allowed;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    width: max(200px, 200px);
    background: #ff0e4a;
    height: max(10px, 75px);
    transition: 0.5s;
}
.button_correct
{
    cursor: not-allowed;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    width: max(200px, 200px);
    background: #00d86c;
    height: max(10px, 75px);
    transition: 0.5s;
}
